{% extends 'base.html' %}

{% block content %}

<a href="/{{board.name}}" class="btn btn-default">Back</a>

	<h1>Create new board</h1>

	{% if message %}<div class="alert alert-info">{{ message }}{{ errors }}</div>{% endif %}
	
	<form method="POST" action="" class="form-horizontal">

		{% csrf_token %}

		<div class="form-group">
			<label for="name" class="col-lg-2 control-label">Name</label>
			<div class="col-lg-10">
				<input class="form-control" type="text" name="name" id="name" placeholder="Name">
			</div>
		</div>

		<div class="form-group">
			<label for="description" class="col-lg-2 control-label">Description</label>
			<div class="col-lg-10">
				<input class="form-control" type="text" name="description" id="description" placeholder="A board for great ideas">
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-2">
				<input class="form-control" type="submit" value="Create">
			</div>
		</div>

	</form>

{% endblock %}